{% extends 'website/layout.html' %}

{% block main %}
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .avatar {
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="col-md-12">
        <h2>Modelos de Negócio</h2>
        <p style="text-align: justify">Os três tipos de modelos de negócio presentes nas redes sociais estão
            representados na imagem abaixo.</p>
    </div>
    <div class="col-md-12" style="padding-top: 10px">
        {% load static %}
        <img src=" {% static 'website/images/ModelosDeNegocio.png' %}" alt="" class="image">
    </div>

    <div class="col-md-4" style="padding-top: 20px">
        <h3 style="text-align: center">O modelo Gratuito</h3>
        <p style="text-align: justify">No modelo de negócio gratuito o rendimento resulta de publicidade (anúncios,
            sugestões) direcionada a um
            público-alvo.</p>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <h3 style="text-align: center">O modelo Freemium</h3>
        <p style="text-align: justify">O modelo freemium consiste na combinação do modelo gratuito com o pago. Neste
            caso, a utilização é gratuita,
            mas
            algumas funcionalidades requerem subscrição.</p>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <h3 style="text-align: center">O modelo Pago</h3>
        <p style="text-align: justify">No modelo pago recorre-se a remunerações periódicas (subscrições
            mensais ou anuais). Neste caso, as subscrições dispõem de algumas vantagens, como por exemplo a remoção de
            anúncios.</p>
    </div>
    <div class="col-md-12">
        <hr>
        <h2>Comparação entre duas redes sociais</h2>
    </div>

    <div class="col-md-6" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/facebook.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Facebook</h3>
    </div>
    <div class="col-md-6" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/youtube.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Youtube</h3>
    </div>
    <div class="col-md-6">
        <p style="text-align: justify">Atualmente, o Facebook utiliza o modelo de negócio gratuito.</p>
        <p style="text-align: justify">Contudo, nos primeiros tempos, o modelo adotado tinha como finalidade a
            monetização da plataforma, o qual
            associava o número de utilizadores a um determinado lucro.</p>
        <p style="text-align: justify">
            Hoje, o método lucrativo é baseado na relação utilizador-marca, ou seja,
            o conteúdo apresentado provém da
            análise de influência e do perfil do utilizador.
        </p>
    </div>
    <div class="col-md-6">
        <p style="text-align: justify">A aplicação Youtube utiliza o modelo de negócio gratuito.</p>
        <p style="text-align: justify">
            Recentemente, foi introduzido o modelo pago, apesar de este representar apenas uma pequena parte do lucro
            total. Este último é utilizado pelo Youtube Premium.
        </p>
        <p style="text-align: justify">A maior fonte de rendimento é obtida através de anúncios e publicidade
            direcionada a um público-alvo.
            Normalmente, os anúncios surgem antes, durante e após a apresentação do vídeo.</p>
    </div>
    <div class="col-md-12" style="padding-top: 20px; text-align: center">
        <hr>
        <h2>How Facebook remains free</h2>
        <p></p>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/n2H8wx1aBiQ">
        </iframe>
    </div>

{% endblock main %}