{% extends 'website/layout.html' %}

{% block main %}
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .avatar {
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="col-md-12">
        <h2>Modelos de Negócio</h2>
        <p>A maior parte das redes sociais foram criadas sem finalidade lucrativa. Porém, o continuo crescimento e o
            aumento do número de utilizadores fomentou a necessidade de cobrir custos de desenvolvimento e manutenção.
            Como tal, e por forma a gerar o rendimento exigido, estas plataformas começaram a recorrer à publicidade,
            subscrições e venda de conteúdo gerado pelos utilizadores.
        </p>
        <p>Os três tipos de modelos de negócio presentes nas redes sociais estão representados na imagem abaixo.</p>
    </div>
    <div class="col-md-12" style="padding-top: 10px">
        {% load static %}
        <img src=" {% static 'website/images/ModelosDeNegocio.png' %}" alt="" class="image">
    </div>

    <div class="col-md-4" style="padding-top: 20px">
        <h3 style="text-align: center">O modelo Gratuito</h3>
        <p>No modelo de negócio gratuito o rendimento resulta de publicidade (anúncios, sugestões) direcionada a um
            público-alvo.</p>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <h3 style="text-align: center">O modelo Freemium</h3>
        <p>Este modelo consiste na combinação dos dois modelos pago com o gratuito. Neste caso, a utilização é gratuita,
            mas
            algumas funcionalidades requerem subscrição.</p>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        <h3 style="text-align: center">O modelo Pago</h3>
        <p>Este modelo consiste na combinação dos dois modelos pago com o gratuito. Neste caso, a utilização é gratuita,
            mas
            algumas funcionalidades requerem subscrição.</p>
    </div>

    <div class="col-md-12">
        <hr>
        <h2>Comparação entre 3 redes sociais</h2>
    </div>

    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/facebook.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Facebook</h3>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/spotify.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Spotify</h3>

    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/youtube.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Youtube</h3>
    </div>

    <div class="col-md-4" style="padding-top: 20px">
        <p>Atualmente, o Facebook utiliza o modelo de negócio gratuito.</p>
        <p>Contudo, nos primeiros tempos, o modelo adotado tinha como finalidade a monetização da plataforma, o qual
            associava o número de utilizadores a um determinado lucro.</p>
        <p>
            Hoje, o método lucrativo é baseado na relação utilizador-marca, ou seja,
            o conteúdo apresentado provém da
            análise de influência e do perfil do utilizador.
        </p>
    </div>

    <div class="col-md-4" style="padding-top: 20px">
        <p>A plataforma Spotify utiliza o modelo de negócio freemium.</p>
        <p>Neste caso, o modo de funcionamento da aplicação alterna entre música, podcasts e anúncios. No entanto, se se
            pretender obter a funcionalidade de escolha livre (remoção de anúncios, seleção livre de conteúdo, etc) é
            necessário realizar a subscrição “Premium”, através de custos adicionais.</p>
    </div>

    <div class="col-md-4" style="padding-top: 20px">
        <p>A aplicação Youtube utiliza o modelo de negócio gratuito.</p>
        <p>
            Recentemente, foi introduzido o modelo pago, apesar de este representar apenas uma pequena parte do lucro
            total. Este último é utilizado pelo Youtube Premium.
        </p>
        <p>A maior fonte de rendimento é obtida através de anúncios e publicidade direcionada a um público-alvo.
            Normalmente, os anúncios surgem antes, durante e após a apresentação do vídeo.</p>
    </div>

    <div class="col-md-12" style="padding-top: 20px; text-align: center">
        <hr>
        <h2>How Facebook remains free</h2>
        <p></p>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/n2H8wx1aBiQ">
        </iframe>
    </div>

{% endblock main %}