{% extends 'website/layout.html' %}

{% block main %}
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="col-md-12">
        <h2>O Futuro...</h2>
        <p>Niguém sabe o que o futuro nos pode trazer mas, temos algumas previsões...</p>
    </div>
    <div class="col-md-4" style="padding-top: 20px;text-align: center">
        <h2>Redes sociais aliadas à realidade virtual?</h2>
    </div>
    <div class="col-md-4" style="padding-top: 20px;text-align: center">
        <h2>Redes sociais aliadas à Inteligência Artificial?</h2>
    </div>
    <div class="col-md-4" style="padding-top: 20px;text-align: center">
        <h2>Redes Sociais aliadas à computação na Nuvem?</h2>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/vr.png' %}" alt="" class="image" width="100%" height="90%" }>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/IA.png' %}" alt="" class="image" width="100%" height="90%" }>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/cloud.png' %}" alt="" class="image" width="100%" height="90%" }>
    </div>
    <div class="col-md-4">
        <p style="text-align: justify">Esta tecnologia tem como objetivo recriar a realidade num ambiente virtual. Desta
            forma, seria interessante
            criar uma rede social que consistisse num mundo virtual com vários utilizadores, por forma a proporcionar
            uma interação próxima da realidade.</p>
    </div>
    <div class="col-md-4">
        <p style="text-align: justify">A combinação entre Inteligência Artificial (IA), redes sociais e multimédia é
            também esperada num futuro próximo. A
            recente evolução nesta área, torna possível a análise do comportamento de cada
            utilizador, assim como permite perceber quais os seus conteúdos de seleção.
        </p>
        <p style="text-align: justify">Para além destes aspetos, a IA permite melhorar fotografias e vídeos, através da
            modificação automática de parâmetros como a luminosidade e/ou o brilho.
        </p>
    </div>
    <div class="col-md-4">
        <p style="text-align: justify">Espera-se também uma combinação entre a multimédia e a computação na nuvem.
            Através
            do processamento de dados na cloud será possível, por exemplo, criar vídeos com resoluções cada vez maiores.
            Contudo, maior resolução dos vídeos exige um hardware mais potente na sua codificação e descodificação. Como
            o hardware disponível nos serviços cloud é muito superior ao que é disponibilizado ao utilizador, este
            problema é facilmente ultrapassado </p>
    </div>
    <div class="col-md-2" style="padding-top: 20px">
    </div>
    <div class="col-md-4" style="padding-top: 20px;text-align: center">
        <h2>O avanço das redes móveis</h2>
    </div>
    <div class="col-md-4" style="padding-top: 20px;text-align: center">
        <h2>Codecs de vídeo e imagem mais eficientes</h2>
    </div>
    <div class="col-md-2" style="padding-top: 20px">
    </div>
    <div class="col-md-2" style="padding-top: 20px">
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/5g.png' %}" alt="" class="image" width="100%" height="90%" }>
    </div>
    <div class="col-md-4" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/codecs.png' %}" alt="" class="image" width="100%" height="90%" }>
    </div>
    <div class="col-md-2" style="padding-top: 20px">
    </div>
    <div class="col-md-2" style="padding-top: 20px">
    </div>
    <div class="col-md-4">
        <p style="text-align: justify">O avanço das redes móveis, como o 5G, tem vindo a impulsionar a utilização da
            multimédia nas redes sociais. Esta evolução traduz-se no aumento da velocidade de download e upload,
            tornando possível, por exemplo, a visualização de vídeos com maior resolução em qualquer lugar.</p>
    </div>
    <div class="col-md-4">
        <p style="text-align: justify"> O objetivo desejado é que se atinja uma qualidade transparente utilizando o
            mínimo de largura de banda possível.</p>
        <p style="text-align: justify">Tendo este requisito em conta, novos protocolos de vídeo estão a ser
            desenvolvidos, como o
            Essencial Video Coding (EVC) e o Low Complexity Enhancement Video Coding (LCEVC). Estes prometem ser mais
            eficientes e não ter problemas com o licenciamento, o que não aconteceu com o High Efficiency Video Coding
            (HEVC) e que poderá vir a acontecer com o Versatile Video Coding (VVC), o codec mais recente’
        </p>
        <p style="text-align: justify">Para a fotografia, o codec AV1 Image Format (AVIF), desenvolvido pela Alliance
            For Open Media, poderá
            tornar-se numa futura projeção, uma vez que será relativamente simples de implementar em vários
            dispositivos. </p>
    </div>
    <div class="col-md-2" style="padding-top: 20px">
    </div>
    <div class="col-md-12" style="padding-top: 20px; text-align: center">
        <hr>
        <h2>Facebook Horizon VR Social Media</h2>
        <p></p>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/5c44q1XW9p4">
        </iframe>
    </div>
{% endblock main %}