{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-8">
        <h2>Introdução</h2>
        <p>Este Website tem como objectivo descrever a multimédia nas redes sociais nomeadamente:</p>
        <ul>
            <li>
                A evolução &#x2197;
            </li>
            <li>
                A tecnologia &#128190;
            </li>
            <li>
                Os modelos de negócio &#128176;
            </li>
            <li>
                As interfaces &#128241;
            </li>
            <li>
                Os impactos &#9989;
            </li>
            <li>
                Em Portugal {% load static %}
                <img src=" {% static 'website/images/portugal.png' %}" alt="" width="4%" height="3%">
            </li>
            <li>
                O futuro &#128302;
            </li>
        </ul>

    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/intro.gif' %}" alt="" width="100%" height="100%">
    </div>
    <div class="col-md-12">
        <hr>
        <p>Atualmente, a sociedade pretende captar toda a empatia, emoção e sensação do mundo através de um simples
            aparelho tecnológico. Desta forma, é necessário que o conjunto de sinais sensoriais, áudio, imagem e vídeo,
            se traduza numa representação espaciotemporal quase perfeita. O acesso e a partilha de informação,
            independentemente do tipo de conteúdo, levou à criação de espaços virtuais comuns, as redes sociais. No
            entanto, a sua evolução tem vindo a revolucionar a forma como a população cria, interage e comunica através
            da utilização de multimédia nas suas diversas formas. Deste modo, o artigo pretende realçar o impacto das
            redes sociais na produção de conteúdo multimédia e no conjunto de princípios éticos, legais e culturais que
            devem ser reconhecidos e que asseguram a integridade da sociedade.
            Por fim, procura salientar alguns mecanismos a adotar, tanto pelos utilizadores como pelas aplicações, tendo
            como salvaguarda a criação e partilha de conteúdo fidedigno.
        </p>
    </div>
{% endblock main %}
