{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-8">
        <h2>Apresentação do nosso projecto</h2>
        <ul>
            <li>
                A evolução &#x2197;
            </li>
            <li>
                A tecnologia &#128190;
            </li>
            <li>
                Os modelos de negócio &#128176;
            </li>
            <li>
                As interfaces &#128241;
            </li>
            <li>
                Os impactos &#9989;
            </li>
            <li>
                Em Portugal {% load static %}
                <img src=" {% static 'website/images/portugal.png' %}" alt="" width="4%" height="3%">
            </li>
            <li>
                O futuro &#128302;
            </li>
        </ul>

    </div>
    <div class="col-md-4">
        {% load static %}
        <img src=" {% static 'website/images/intro.gif' %}" alt="" width="100%" height="100%">
    </div>
    <div class="col-md-12">
        <hr>
        <p style="text-align: justify">Atualmente, a sociedade pretende captar toda a empatia, emoção e sensação do
            mundo através de um simples
            aparelho tecnológico. Desta forma, é necessário que o conjunto de sinais sensoriais, captados através do
            áudio, da imagem e do vídeo, se traduzam numa representação espaciotemporal quase perfeita. O acesso e a
            partilha de informação, independentemente do tipo de conteúdo, levou à criação de espaços virtuais comuns,
            as redes sociais. No entanto, a sua evolução tem vindo a revolucionar a forma como a população cria,
            interage e comunica através da utilização de multimédia nas suas diversas formas.
            O nosso artigo pretende realçar o impacto das redes sociais na produção de conteúdo multimédia e no conjunto
            de
            princípios éticos, legais e culturais que devem ser reconhecidos e que asseguram a integridade da sociedade.
        </p>
    </div>
    <div class="col-md-12">
        <hr>
        <p style="text-align: center">
            <iframe width="1000" height="600"
                    src="https://www.youtube.com/embed/24YO3Tkdvf0">
            </iframe>
        </p>
    </div>
{% endblock main %}
