{% extends 'website/layout.html' %}

{% block main %}
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .avatar {
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="col-md-12">
        <h2>Interfaces</h2>
        <p style="text-align: justify">As interfaces de utilizador das redes sociais são um factor determinante para o
            seu sucesso. Idealmente, estas devem ser fáceis de utilizar/interpretar e devem possuir um design atrativo,
            por forma a
            captar a atenção do utilizador. Os utilizadores ao navegarem nas diferentes plataformas são submetidos a um
            conjunto de anúncios que vão
            surgindo de forma estratégica. Este método tem como objetivo influenciar e cativar os seus interesses.</p>
        <p style="text-align: justify">Na imagem abaixo encontram-se as interfaces de duas redes sociais populares.</p>
    </div>
    <div class="col-md-12">
        <hr>
        <h2>Comparação entre duas redes sociais</h2>
    </div>
    <div class="col-md-6" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/linkedin.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Linkedin</h3>
    </div>
    <div class="col-md-6" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/youtube.png' %}" alt="" class="avatar" width="20%" height="55%" }>
        <h3 style="text-align: center">Youtube</h3>
    </div>
    <div class="col-md-6" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/linkedin_ui.png' %}" alt="" class="image" width="100%" height="100%" }>
    </div>
    <div class="col-md-6" style="padding-top: 20px">
        {% load static %}
        <img src=" {% static 'website/images/youtube_ui.png' %}" alt="" class="image" width="100%" height="100%" }>
    </div>

    <div class="col-md-6" style="padding-top: 20px">
        <p style="text-align: center">Utilização intuitiva &#9989;</p>
        <p style="text-align: center">Design atrativo &#9989;</p>
    </div>

    <div class="col-md-6" style="padding-top: 20px">
        <p style="text-align: center">Utilização intuitiva &#9989;</p>
        <p style="text-align: center">Design atrativo &#9989;</p>
    </div>
    <div class="col-md-12" style="padding-top: 20px; text-align: center">
        <hr>
        <h2>UI designs, tips and tricks</h2>
        <p></p>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/5rkwYnd--_8">
        </iframe>
    </div>
{% endblock main %}