<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Multimédia nas redes sociais</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS
    https://getbootstrap.com/docs/4.0/examples/jumbotron/
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="stylesheet" href=" {% static 'website/styles.css' %} ">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1b1b1b;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:index' %} ">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:evolucao' %} ">Evolução</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:tecnologia' %} ">Tecnologia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:bussiness_models' %} ">Modelos de Negócio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:interfaces' %} ">Interfaces</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Impactos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{% url 'website:impactos_sociais' %}">Sociais</a>
                    <a class="dropdown-item" href="{% url 'website:impactos_eticos' %}">Éticos e Legais</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:portugal' %} ">Em Portugal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:futuro' %} ">O Futuro...</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'website:about' %} ">Sobre</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-bottom: 20px;padding-top: 85px;background-color: deepskyblue">
        <div class="container">
            <h1 class="display-3">Multimédia nas redes sociais</h1>
            <p><i>Comunicação Multimédia</i></p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            {% block main %}

            {% endblock %}
        </div>

    </div>

    <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; 2022 Comunicação Multimédia Instituto Superior Técnico 2022</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
