{% extends 'website/layout.html' %}

{% block main %}
    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="col-md-8">
        <h2>Portugal</h2>
        <p>Em 1991, a Internet surge em Portugal através de um projeto realizado pela Fundação para a Computação
            Científica Nacional (FCCN) intitulado de “Serviço de Internet Protocol (IP) da Rede da Comunidade Científica
            Nacional (RCCN)”</p>
        <p>Em 1996, a multimédia nas redes sociais foi introduzida com a plataforma I Seek You (ICQ), que tinha como
            principal objetivo estabelecer comunicação através de mensagens em tempo real.</p>
        <p>Em Portugal, a primeira rede social com maior impacto foi o MySpace, com cerca de 500 mil utilizadores
            registados. Esta rede social tinha como principal funcionalidade a interação entre utilizadores através de
            perfis, imagens, áudio e vídeos.</p>
        <p>Em 2009, o Hi5 tornou-se na plataforma com mais sucesso, com funcionalidades semelhantes ao MySpace e cerca
            de 3 milhões de utilizadores.</p>
        <p>A partir de 2009, com a popularização daquela que viria a ser uma das maiores redes sociais do mundo, o
            Facebook, as duas plataformas mencionadas anteriormente perderam uma grande percentagem dos seus
            utilizadores.</p>
        <p>Nos últimos anos as plataformas sociais mais utilizadas em Portugal foram o Facebook, o Instagram, o Twitter,
            o TikTok e o WhatsApp. O WhatsApp é a rede social mais utilizada pelos portugueses (85,5%), seguindo-se o
            Facebook (81,3%) e por último o Instagram (75,9%).</p>
    </div>
    <div class="col-md-4" style="padding-top: 10px">
        {% load static %}
        <img src=" {% static 'website/images/portugal.gif' %}" alt="" class="image" width="100%">
    </div>
{% endblock main %}